**/.build*/*
**/bin/*
*.o
*.xe
*.vcd
*.xi
*.i
*.a
**/_build/
**/build/
**/run_*.log
**/pdf/*
**/html/*
*.pyc
**/.settings*
Installs/*
test_results.csv
*.log
.DS_Store
xscope.xmt
*.xc.pca.xml
*.xc.pca.xml.decouple
*.xc.d
**/.lock-waf_darwin_build
**/*.egg-info/
.venv/
Pipfile.lock
